rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // admin かどうか
    match /admin/{userId} {
      allow get: if isUser(userId);
    }

    match /datasets/{datasetId} {
      // admin user
      match /common/{document} {
        allow read: if isAdmin();
        allow create, update: if isAdmin();
      }

      match /users/{userId}/{document=**} {
        allow read: if isAdmin();
      }

      // normal user
      match /common/progress {
        allow get: if request.auth != null;
        allow update: if request.auth != null && isOpen(datasetId);
      }

      match /common/status {
        allow read: if request.auth;
      }

      match /users/{userId} {
        match /log/log {
          allow read: if isUser(userId);
          allow create, update: if isUser(userId) && isOpen(datasetId);
        }
        match /answers/{dataId} {
          allow read: if isUser(userId);
          allow write: if isUser(userId) && isOpen(datasetId);
        }
      }
    }

    function isUser(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    function isAdmin() {
      return get(/databases/$(database)/documents/admin/$(request.auth.uid)).data.isAdmin;
    }

    // 実験実施中かどうか
    function isOpen(datasetId) {
      return get(/databases/$(database)/documents/datasets/$(datasetId)/common/status).data.isOpen;
    }
  }
}
